<div class="w-full">
  <div class="flex justify-center items-center py-8">
    <h1 class="font-bold text-4xl">Block Explorer</h1>
  </div>

  <div id="gas_burnt" class="flex flex-row justify-end p-2">
    <span class="font-semibold">Average Gas Burnt:</span> <%= @average_gas_burnt %>
  </div>
  
  <div id="transfers" class=" p-8 border rounded-lg overflow-scroll">

    <table class="w-full table-auto">
      <thead class="border-b">
        <tr class="h-8">
          <th class="p-4 text-left font-semibold">Sender</th>
          <th class="p-4 text-left font-semibold">Receiver</th>
          <th class="p-4 text-left font-semibold">Deposit</th>
        </tr>
      </thead>
      <tbody class="">
        <% @transfers.each do |transfer| %>
          <tr class="border-b">
            <td class="p-4 text-sm"><%= transfer.block_transaction.sender %></td>
            <td class="p-4 text-sm"><%= transfer.block_transaction.receiver %></td>
            <td class="p-4 text-sm"><%= transfer.deposit_value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
