<div id="<%= dom_id blockchain %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= blockchain.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Endpoint:</strong>
    <%= blockchain.endpoint %>
  </p>

</div>
